html,body{
    height:100%;
}
.current{
    color:green;
}
aside{
    background-color: #373f47;
    font-size: 16px;
}
/* .contenido{
    margin-left: 20px;
} */
main{
    background-color:#E4FDE1;
}
nav{
    background-color: #456990;
    z-index: 1 !important;
    position: sticky !important;
}