.sidenav {
    height: 100%;
    width: 18%; 
    position: fixed; 
    z-index: 1; 
    top: 0;
    left: 0;
    background-color: #373F47; 
    overflow-x: hidden;
    padding-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 60px 0 rgba(0, 0, 0, 0.19);
}
.thanks{
    position: fixed;
    bottom:0;
    margin: 10px;
    color: #7D8491;
    font-size: 12px;
}
.sidenav span {
    color: #E4FDE1;
}
.sidenav a, span{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #7D8491;
    display: block;
}

.sidenav a:hover {
    background-color: #028090;
    color:#E4FDE1;
}

.main, nav{
    margin-left: 18%; /* Tiene que tener el mismo valor que width de .sidebar, si es menor sera obstruido */
    padding: 0px 10px;
}
.main {
    background-color:#F6F4F7;
    height: 100%;
}
nav{
    background-color: #456990;
    top:0px; 
    z-index: 1;
    position: sticky !important;
}
