#logo{
    width: 50px;
}
table{
    border:1px solid black;
}
td{
    background-color: white;
}

#footer{
    border: 1px solid;
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 100px;
}
#imagen{
    height: 200px;
    width: 200px;
}
#imagenMV{
    padding: 10px;
    margin: 10px;
    float: right; 
    width: 250px;
}
#imagenmision{
        
float: right;
        
margin: 0px 15px 15px 0px;
        
width: 100px;
    }
    

#imagenvision{
        
float: right;
        
margin: 5px -20px 100px 0px;
        
width: 150px;
    }
    

#imagenmapa{
        
text-align: center;
        
height: 100px;
        
width: 100px;
    }
 

  