-
    var ref=[
        {
        nombre:'Home',
        href:'index',
        icon:'home'
        },
        {
        nombre:'Servicios',
        href:'servicios',
        icon:'archive'
        },
        {
        nombre:'Verificar',
        href:'verificar',
        icon:'search'},
        {nombre:'Nosotros',
        href:'nosotros',
        icon:'user'}];
-
    var carouselItems=[
        {
        src:'rm',
        title:'Ropa Blanca',
        sub:'Tratamos tu ropa blanca con el cuidado que se merece'
        },
        {
        src:'suit',
        title:'Sacos',
        sub:'Planchamos tus sacos para que seas el mas elegante siempre'
        },
        {
        src:'dress',
        title:'Vestidos',
        sub:'Porque eres una Miss Panama, y tu vestido lo merece'}];