extends _template

block replace
    h1 Mision
    br
    h3 Somos una lavandería a domicilio  que facilita la vida de nuestros clientes, proporcionándoles soluciones efectivas y oportunas a la hora de atender sus prendas de usos diario, ofreciendo nuestros servicos, con calidad y eficiencia.
br
h1 Vision
br
h3 Liderar el mercado respondiendo efectivamente por la calidad de nuestros servicios, asociados al compromiso con nuestros clientes, destacando por un servicio eficiente , moderno y puntual
